

    <!--<a href="/task/create"> Create task </a> -->

<div class="row col-md-offset-2">
  <div class="col-md-8 ">
    <form class="form-horizontal">
      <fieldset>
        <legend> Add a  new task </legend>
        <div class="form-group">
        <input type="text" class="form-control" ng-model="todo.task" placeholder="Your next task" > <br>
        <input type="text" class="form-control"  ng-model="todo.name" placeholder="Your name please.." > <br>

      <button ng-click="saveTask(todo)" class="btn btn-primary" >Save</button>
    </fieldset>
    </form>
  </div>

</div>
</div>

<div class="row col-md-offset-2">
<h2 class="col-md-8 text-center">Task list</h2>

<div class="list-group col-md-8 " id="task-holder" >
  <a href="#" class="list-group-item" ng-repeat="val in taskItems" id="{{val.id}}">
    <h4 class="list-group-item-heading">  {{val.task}} </h4>
    <p class="list-group-item-text">Created by {{val.created_by}}
      <span class="pull-right vcenter">
        <button type="button" name="button" class="btn btn-danger btn-xs" ng-click="deleteTask($event)" data="{{val.id}}"> Delete </button>
      </span>
    </p>

  </a>

</div>



</div>
