<h2> Create a task</h2>

<div class="container">
  <form >
    <input type="text"  ng-model="todo.task" placeholder="Your next task!" > <br>
    <input type="text"  ng-model="todo.name" placeholder="Tour name please.." > <br>
    
    <button ng-click="saveTask(todo)">Save!</button>
  </form>

</div>
